<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title><%=title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/blozhik/style.css" rel="stylesheet">
      <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
      <link rel="icon" href="https://nasobe.ru/images/js.svg">
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171292045-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-171292045-1');
      </script>
    </head>
    <body>
    <main>
      <article>
        <h1><%= title %></h1>
      <p><%= backstory %></p>
      <% if(titleVisible){ %>
      <ul>
          <% for(var i=0; i<title.length;i++) {%>
              <h2><%=title[i] %></h2>
              <li><%= article[i] %></li>
          <%} %>
      </ul>
  <% }else {%>
      <h3>адрес отсутствует</h3>
  <%} %>
   <strong>
GITHAB: <a href='https://github.com/amir248/nodejs'>githab.com/amir248/nodejs</a>
   </strong>
      </article>
      <aside>
        <a href="https://fozzy.com/aff.php?aff=16418">
          <picture>
            <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
          </picture>
        </a>
        <ul>
          <li><a href='/blozhik/'>BlozHik</a></li>
          <li><a href='/blozhik/about'>about</a></li>
          <li><a href="https://nasobe.ru/">Home</a></li>
          <li><a href='/blozhik/contact'>contact</a></li>

          <!-- <li><a href='/blozhik/contact'>contact</a></li>
          <li><a href='/blozhik/list'>список постов</a></li> -->
        </ul>
      </aside>

    </main>
    </body>
    <!-- <script type="text/javascript" src='site/script.js'></script> -->
</html>
