<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title><%=title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/blozhik/style.css" rel="stylesheet">
      <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
      <link rel="icon" href="https://nasobe.ru/images/js.svg">
      <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>

    <main>
      <article>
        <h1><%= title %></h1>
        <p><%=description%></p>
        <p><%= text%></p>
        <p><%=autor%></p>
        <p><%=url%></p>
        <p><%=json%></p>
      </article>
        <aside>
          <a href="https://fozzy.com/aff.php?aff=16418">
            <picture>
              <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
            </picture>
          </a>
          <ul>
            <li><a href='/blozhik/'>BlozHik</a></li>
            <li><a href='/blozhik/about'>about</a></li>
            <li><a href="https://nasobe.ru/">Home</a></li>
            <li><a href='/blozhik/contact'>contact</a></li>
          </ul>
        </aside>
    </main>
    </body>
</html>
