<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/blozhik/style.css" rel="stylesheet">
    <link href="https://nasobe.ru/blozhik/style.css" rel="stylesheet">
    <link rel="icon" href="https://nasobe.ru/images/js.svg">
</head>
<body>
  <main>
    <article>
      <h1><%=title %> в EJS ^_^</h1>
      <span><%= name %></span>
      <% if(emailsVisible) {%>
        <h3>Электронные адреса</h3>
        <ul>
          <% for(var i=0; i<emails.length;i++) {%>
            <li><%=emails[i] %></li>
            <%} %>
          </ul>
          <% }else {%>
            <h3>Электронный адрес отсутствует</h3>
            <%} %>
            <p>Телефон: <%=phone %></p>
    </article>
    <aside>
      <a href="https://fozzy.com/aff.php?aff=16418">
        <picture>
          <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
        </picture>
      </a>
      <ul>
        <li><a href='/blozhik/'>BlozHik</a></li>
        <li><a href='/blozhik/about'>about</a></li>
        <li><a href="https://nasobe.ru/">Home</a></li>
        <li><a href='/blozhik/contact'>contact</a></li>
        <!-- <li><a href='/blozhik/list'>список постов</a></li> -->

      </ul>
    </aside>
  </main>
</body>
<html>
